<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <img class="Header__img-logo"src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <form class="Header__searchbar">

            <input type="search"name="search"placeholder="buscar productos,marcas">

            <input type="submit"value="buscar">

            <i class="fa-solid fa-magnifying-glass"></i>
            
        </form>
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <h4 class="compra">compra en cuotas y sin tarjeta de credito</h4>
        <ul class="Header__ul--navbar">
            <li><a href="#">ofertas</a></li>
            <li><a href="#">tiendas oficiales</a></li>
            <li><a href="#">vender</a></li>
            <li><a href="#">ayuda</a></li>
        </ul>
        <ul class="Header__ul--loginbar">
            <li><a href="#">crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
            <li><a href="#">ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="#">mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img class="Header__img-banner"src="/images/img-home-banner.jpg" alt="img-home-banner">
    </header>
    <main>
        <section>
            <h1 class="Main__section__h1">basado en la ultima visita</h1>
            <article>
                <img class="Main__section__article__img"src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <p class="Main__section__article__precios">$6770</p>
                <p class="Main__section__article__descuentos">40% off</p>
                <p class="Main__section__article__descripcion">cafetera moulinex</p>
            </article>
            <article>
                <img class="Main__section__article__img"src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <p class="Main__section__article__precios">$230.000</p>
                <p class="Main__section__article__descuentos">20% off</p>
                <p class="Main__section__article__descripcion">macbook pro 2019</p>
            </article>
            <article>
                <img class="Main__section__article__img"src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <p class="Main__section__article__precios">$70.500</p>
                <p class="Main__section__article__descuentos">10% off</p>
                <p class="Main__section__article__descripcion">samsung galaxy-s10</p>
            </article>
            <article>
                <img class="Main__section__article__img"src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <p class="Main__section__article__precios">$23.200</p>
                <p class="Main__section__article__descuentos">5% off</p>
                <p class="Main__section__article__descripcion">smartTv samsung 43"</p>
            </article>
        </section>
        <section>
            <h1 class="Main__section__h1">seccion de ofertas</h1>
            <article>
                <img class="Main__section__article__img"src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <p class="Main__section__article__precios">$6770</p>
                <p class="Main__section__article__descuentos">40% off</p>
                <p class="Main__section__article__descripcion">cafetera moulinex</p>
            </article>
            <article>
                <img class="Main__section__article__img"src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <p class="Main__section__article__precios">$230.000</p>
                <p class="Main__section__article__descuentos">20% off</p>
                <p class="Main__section__article__descripcion">macbook pro 2019</p>>
            </article>
            <article>
                <img class="Main__section__article__img"src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <p class="Main__section__article__precios">$70.500</p>
                <p class="Main__section__article__descuentos">10% off</p>
                <p class="Main__section__article__descripcion">samsung galaxy-s10</p>
            </article>
            <article>
                <img class="Main__section__article__img"src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <p class="Main__section__article__precios">$23.200</p>
                <p class="Main__section__article__descuentos">5% off</p>
                <p class="Main__section__article__descripcion">smartTv samsung 43"</p>
            </article>
        </section>
    </main>
    <footer>
        <section class="Footer__section">
        <i class="fa-solid fa-credit-card"></i>
        <h3 class="Footer__h3">paga con tarjeta o en efectivo</h3>
        <p class="Footer__h3__p">con mercadoLiebreCash tenes cuotas sin <br> con tarjetas o efectivo en puntos de <br>pago¡Y siempre es seguro!</p>
        <i class="fa-solid fa-gift"></i>
        <h3 class="Footer__h3">envio gratis desde los $2500</h3>
        <p class="Footer__h3__p">solo por esta registrado en Mercado Liebre<br> tenes envio gratis en mmiles de productos. Es<br> un beneficio de Mercado Puntos</p>
        <i class="fa-solid fa-user-shield"></i>
        <h3 class="Footer__h3">seguridad de principio a fin</h3>
        <p class="Footer__h3__p">¿No te gusta?¡Devolvelo! en Mercado Liebre<br> no hay nada que no puedas hacer porque estas<br> siempre protegid@</p>
        <span class="Footer__span">Copyright 1999-2023 Mercado Liebre S.R.L </span>
        </section>
    </footer>
    
</body>
</html>