<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/80f37fa8b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="Header__div--container__querie">
        <div class="Header__div--container">
        <img class="Header__img-logo"src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <div class="Header__div__searchbar">
            <form class="Header__div__searchbar__form">
            <input type="search"name="search"placeholder="Buscar productos,marcas">
            </form>
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
         </div>
        <div class="Header__div__opcionesCompra">       
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <h4 class="Header__div__opcionesCompra__h4">Compra en cuotas y sin tarjeta de credito</h4>
        </div>
    </div>
        <div class="Header__ul--container">  
        <ul class="Header__ul--navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="Header__ul--loginbar">
            <li><a href="/Registro">crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
            <li><a href="/Login">ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="#">mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
    </div> 
        <div class="Header__div__burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img class="Header__img-banner"src="/images/img-home-banner.jpg" alt="img-home-banner">
    </header>
    <main>
        <section>
            <h1 class="Main__section__h1">Basado en la ultima visita</h1>
            <article class="article_container">
            <article class="Main__section__article">
                <img class="Main__section__article__img"src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="Main__section__article__truck">
                <i class="fa-solid fa-truck" style="color: #01bc04;"></i>
                </div>
                <div class="main__section__article__div">
                <p class="Main__section__article__div__precios">$6770</p>
                <p class="Main__section__article__div__descuentos">40% off</p>
             </div>
                <h4 class="Main__section__article__descripcion">cafetera moulinex</h4>
            </article>
            <article class="Main__section__article">
                <img class="Main__section__article__img"src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <div class="Main__section__article__truck">
                <i class="fa-solid fa-truck" style="color: #01bc04;"></i>
                </div>
                <div class="main__section__article__div">
                <p class="Main__section__article__div__precios">$230.000</p>
                <p class="Main__section__article__div__descuentos">20% off</p>
                </div>
                <h4 class="Main__section__article__descripcion">macbook pro 2019</h4>
            </article>
            <article class="Main__section__article">
                <img class="Main__section__article__img"src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <div class="Main__section__article__truck">
                <i class="fa-solid fa-truck" style="color: #01bc04;"></i>
                </div>
                <div class="main__section__article__div">
                <p class="Main__section__article__div__precios">$70.500</p>
                <p class="Main__section__article__div__descuentos">10% off</p>
                </div>
                <h4 class="Main__section__article__descripcion">samsung galaxy-s10</h4>
            </article>
            <article class="Main__section__article">
                <img class="Main__section__article__img"src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <div class="Main__section__article__truck">
                <i class="fa-solid fa-truck" style="color: #01bc04;"></i>
                </div>
                <div class="main__section__article__div">
                <p class="Main__section__article__div__precios">$23.200</p>
                <p class="Main__section__article__div__descuentos">5% off</p>
            </div>
                <h4 class="Main__section__article__descripcion">smartTv samsung 43"</h4>
            </article>
        </section>
        <section>
            <h1 class="Main__section__h1">Ofertas</h1>
            <article class="Main__section__article">
                <img class="Main__section__article__img"src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="Main__section__article__truck">
                <i class="fa-solid fa-truck" style="color: #01bc04;"></i>
                </div>
                <div class="main__section__article__div">
                <p class="Main__section__article__div__precios">$6770</p>
                <p class="Main__section__article__div__descuentos">40% off</p>
                 </div>
                <h4 class="Main__section__article__descripcion">cafetera moulinex</h4>
            </article>
            <article class="Main__section__article">
                <img class="Main__section__article__img"src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <div class="Main__section__article__truck">
                <i class="fa-solid fa-truck" style="color: #01bc04;"></i>
                </div>
                <div class="main__section__article__div">
                <p class="Main__section__article__div__precios">$230.000</p>
                <p class="Main__section__article__div__descuentos">20% off</p>
            </div>
                 <h4 class="Main__section__article__descripcion">macbook pro 2019</h4>>
            </article>
            <article class="Main__section__article">
                <img class="Main__section__article__img"src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <div class="Main__section__article__truck">
                <i class="fa-solid fa-truck" style="color: #01bc04;"></i>
                </div>
                <div class="main__section__article__div">
                <p class="Main__section__article__div__precios">$70.500</p>
                <p class="Main__section__article__div__descuentos">10% off</p>
            </div>
                <h4 class="Main__section__article__descripcion">samsung galaxy-s10</h4>
            </article>
            <article class="Main__section__article">
                <img class="Main__section__article__img"src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <div class="Main__section__article__truck">
                    <i class="fa-solid fa-truck" style="color: #01bc04;"></i>
                </div>
                <div class="main__section__article__div">
                <p class="Main__section__article__div__precios">$23.200</p>
                <p class="Main__section__article__div__descuentos">5% off</p>
            </div>
                <h4 class="Main__section__article__descripcion">smartTv samsung 43"</h4>
            </article>
            </article>
        </section>
    </main>
    <footer>
        <section class="Footer__section">
        <i class="fa-solid fa-credit-card"></i>
        <h3 class="Footer__h3">Paga con tarjeta o en efectivo</h3>
        <p class="Footer__h3__p">Con mercadoLiebreCash tenes cuotas sin <br> con tarjetas o efectivo en puntos de <br>pago¡Y siempre es seguro!</p>
        <i class="fa-solid fa-gift"></i>
        <h3 class="Footer__h3">Envio gratis desde los $2500</h3>
        <p class="Footer__h3__p">Solo por esta registrado en Mercado Liebre<br> tenes envio gratis en mmiles de productos. Es<br> un beneficio de Mercado Puntos</p>
        <i class="fa-solid fa-user-shield"></i>
        <h3 class="Footer__h3">Seguridad de principio a fin</h3>
        <p class="Footer__h3__p">¿No te gusta?¡Devolvelo! en Mercado Liebre<br> no hay nada que no puedas hacer porque estas<br> siempre protegid@</p>
        </section>
        <span class="Footer__span">Copyright 1999-2023 Mercado Liebre S.R.L </span>
    </footer>
</body>

</html>