<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <form >
            <input type="search"name="search"placeholder="barra de busqueda">
            <input type="submit"value="buscar">
        </form>
        <p>compra en cuotas y sin tarjeta de credito</p>
        <ul>
            <li><a href="#">ofertas</a></li>
            <li><a href="#">tiendas oficiales</a></li>
            <li><a href="#">vender</a></li>
            <li><a href="#">ayuda</a></li>
        </ul>
        <ul>
            <li><a href="#">crea tu cuenta</a></li>
            <li><a href="#">ingresa</a></li>
            <li><a href="#">mis compras</a></li>
        </ul>
    </header>
    <main>
        <section>
            <h1>basado en la ultima visita</h1>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <p>$6770</p>
                <p>40% off</p>
                <h3>cafetera moulinex</h3>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>macbook pro 2019</h3>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>samsung galaxy-s10</h3>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>smartTv samsung 43"</h3>
            </article>
        </section>
        <section>
            <h1>seccion de ofertas</h1>
            <article>

            </article>
        </section>
    </main>
    <footer>

    </footer>
    
</body>
</html>