<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/80f37fa8b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>

    </header>
    <main>
        <section class="main__section">
        <h1>Registrate</h1>
        <form action="/registro" method="POST">
            
         <label class="main__section__form--label">

            <input type="text"class="main__section__form__input" placeholder="Nombre y Apellido"required>
            
        </label>
        <label class="main__section__form--label">

            <input type="text" class="main__section__form__input"placeholder="Domicilio" required>
            
        </label>
       <label class="main__section__form--label">

            <input type="text"class="main__section__form__input" placeholder="Nombre de Usuario" required>
            
        </label>
        <label class="main__section__form--label">

            <input type="password" class="main__section__form__input"placeholder="Contraseña" id="contraseña">
            
        </label>
        
         
          <label class="main__section__form--label">

            <input type="password" class="main__section__form__input" placeholder="Confirmar contraseña" id="Confirmar contraseña" required>
            
        </label>
       
        <div class="main__section__div">
        <p>Fecha de nacimiento</p>
        <input type="date" name="fecha" id="fecha" required>

        <article class="main__section__div__article">
        <p>Perfil de usuario</p>
        <input type="radio" name="perfil_usuario" id="comprar">
        <label for="comprar">comprar</label>
        <input type="radio" name="perfil_usuario" id="vender">
        <label for="vender">vender</label>

        <p>Categorias de interes</p>
        <input type="checkbox" name="categorias" id="electro">
        <label for="electro">Electro</label>
        <input type="checkbox" name="categorias" id="moda">
        <label for="moda">Moda</label>
        <input type="checkbox" name="categorias" id="hogar">
        <label for="hogar">Hogar</label>
        <input type="checkbox" name="categorias" id="jugueteria">
        <label for="jugueteria">Jugueteria</label>
        <input type="checkbox" name="categorias" id="vida_sana">
        <label for="vida_sana">Vida sana</label>
        </article>

        <p>Foto usuario</p>
        <input class="main__section__div__input--usuario"type="file" name="foto_usuario" id="foto_usuario">

        </div>

        </section>
        
        <button type="submit">Enviar</button>
 
         
        <button type="reset">Borrar</button>

        </form>

    </main>
</body>
</html>                     