<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/80f37fa8b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>

    </header>
    <main>
        <h1>Registrate</h1>
        <form action="/registro" method="POST">
         
        <label for="nombre">Nombre y Apellido</label>
        <input type="text" name="nombre" id="nombre">

        <label for="usuario">Nombre de Usuario</label>
        <input type="text" name="usuario" id="usuario">

        <label for="fecha">Fecha de nacimiento</label>
        <input type="text" name="fecha" id="fecha">

        <label for="domicilio">Domicilio</label>
        <input type="text" name="domicilio" id="domicilio">

        <label for="domicilio">Domicilio</label>
        <input type="text" name="domicilio" id="domicilio">

        <p>Perfil de usuario</p>
        <input type="radio" name="perfil_usuario" id="comprar">
        <label for="comprar">comprar</label>
        <input type="radio" name="perfil_usuario" id="vender">
        <label for="vender">vender</label>

        <p>Categorias de interes</p>
        <input type="checkbox" name="categorias" id="electro">
        <label for="electro">Electro</label>
        <input type="checkbox" name="categorias" id="moda">
        <label for="moda">Moda</label>
        <input type="checkbox" name="categorias" id="hogar">
        <label for="hogar">Hogar</label>
        <input type="checkbox" name="categorias" id="jugueteria">
        <label for="jugueteria">Jugueteria</label>
        <input type="checkbox" name="categorias" id="vida_sana">
        <label for="vida_sana">Vida sana</label>

        <label for="foto_usuario">Foto usuario</label>
        <input type="file" name="foto_usuario" id="foto_usuario">



        </form>

    </main>
</body>
</html>                     