<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/80f37fa8b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <header>
            <div class="Header__div--container__querie">
            <div class="Header__div--container">
            <img class="Header__img-logo"src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            <div class="Header__div__searchbar">
                <form class="Header__div__searchbar__form">
                <input type="search"name="search"placeholder="Buscar productos,marcas">
                </form>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
             </div>
            <div class="Header__div__opcionesCompra">       
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <h4 class="Header__div__opcionesCompra__h4">Compra en cuotas y sin tarjeta de credito</h4>
            </div>
        </div>
            <div class="Header__ul--container">  
            <ul class="Header__ul--navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="Header__ul--loginbar">
                <li><a href="/Registro">crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/Login">ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div> 
            <div class="Header__div__burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <img class="Header__img-banner"src="/images/img-home-banner.jpg" alt="img-home-banner">
        </header>
    </header>
    <main>
        <section class="main__section1">
        <h1>Registrate</h1>
        <form action="/registro" method="POST">
            
         <label class="main__section__form--label1">

            <input type="text"class="main__section__form__input" placeholder="Nombre y Apellido"required>
            
        </label>
        <label class="main__section__form--label1">

            <input type="text" class="main__section__form__input"placeholder="Domicilio" required>
            
        </label>
       <label class="main__section__form--label1">

            <input type="text"class="main__section__form__input" placeholder="Nombre de Usuario" required>
            
        </label>
        <label class="main__section__form--label1">

            <input type="password" class="main__section__form__input"placeholder="Contraseña" id="contraseña">
            
        </label>
        
         
          <label class="main__section__form--label1">

            <input type="password" class="main__section__form__input" placeholder="Confirmar contraseña" id="Confirmar contraseña" required>
            
        </label>
       
        <div class="main__section__div">
        <p>Fecha de nacimiento</p>
        <input type="date" name="fecha" id="fecha" required>

        <article class="main__section__div__article">
        <p>Perfil de usuario</p>
        <div class="input__label">
        <input type="radio" name="perfil_usuario" id="comprar">
        <label for="comprar">comprar</label>
    </div>
    <div class="input__label">
        <input type="radio" name="perfil_usuario" id="vender">
        <label for="vender">vender</label>
    </div>

        <p>Categorias de interes</p>
        <div class="input__label">
        <input type="checkbox" name="categorias" id="electro">
        <label for="electro">Electro</label>
    </div>
        <div class="input__label">
        <input type="checkbox" name="categorias" id="moda">
        <label for="moda">Moda</label>
    </div>
        <div class="input__label">
        <input type="checkbox" name="categorias" id="hogar">
        <label for="hogar">Hogar</label>
    </div>
        <div class="input__label">
        <input type="checkbox" name="categorias" id="jugueteria">
        <label for="jugueteria">Jugueteria</label>
    </div>
        <div class="input__label">
        <input type="checkbox" name="categorias" id="vida_sana">
        <label for="vida_sana">Vida sana</label>
    </div>
        </article>

        <p>Foto usuario</p>
        <input class="main__section__div__input--usuario"type="file" name="foto_usuario" id="foto_usuario">

        </div>

        </section>
        <div class="div__buttons1">
        
        <button type="submit">Enviar</button>
 
         
        <button type="reset">Borrar</button>
        </div>
    </form>
    

    </main>
</body>
</html>                     