.Footer__section i{
    color: var(--colorCeleste);
}
.Footer__section p{
    font-weight: lighter;
}
.Footer__span{
    text-align: left;
    padding-right: 30px;
    
}
/* TABLETS */
@media (min-width: 361px){

}
/* DESKTOP */
@media (min-width: 769px){

}