:root{
    --colorAmarillo:#eac926;
    --colorAzul: #03264c;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
    --cuerpo-de-texto: 12px;
    
   ;
}

body{
    background-color:var(--colorGrisOscuro);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    box-sizing: border-box;
}
header{
    background-color: var(--colorAmarillo);
    display:block;
}
main{
    display: inline-block;
    width: 90%;
    align-content: center;
    border: 10px;
}
footer{
    background-color: var(--colorGrisClaro);
    padding: 100px 40px 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}