:root{
    --colorAmarillo:#eac926;
    --colorAzul: #03264c;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
}

body {
    background-color:var(--colorGrisClaro);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    box-sizing: border-box;
}
header{
    background-color: var(--colorAmarillo);
    display:block
}