.Header__div--container{
    display: flex;
    flex-wrap: nowrap;
}
.Header__img-logo{
    
    width: 50%;   
    padding: 40px 10px 20px 10px;
    margin-right: 10px;
 
}
.Header__div__searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
   
}

.Header__div__searchbar__form{    
    display: flex;
    align-items: center;
    width: 20%;
    margin-top: 40px;
    
}
.Header__div__searchbar input {
    width: 100px; 
    padding: 5px;

    }
.Header__div__searchbar i{
    margin-top: 37px;
    padding: 4px;
    background-color: var(--colorGrisClaro);
    border: solid 1px black;
   
}

.Header__div__opcionesCompra{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    margin: 0;
    padding: 10px;
}
.Header__div__opcionesCompra i{
    height: 20px;
    margin-bottom:10px;
}
.Header__div__opcionesCompra__h4{
    font-size: 13px;
    margin: 0;
    font-weight: lighter;
}
.Header__ul--navbar{
    display: none;
    list-style: none;
    text-align: start;
    padding-left: 0px;
}
.Header__ul--loginbar{
    display: none;
    list-style:none;
    text-align: start;
    padding-left: 0px;
}
.Header__ul--navbar li{
    display: none;
}
.Header__ul--loginbar li{
    display: none;
}
.Header__div__burger-menu{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 140px;
    background-color: var(--colorCeleste);
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.Header__div__burger-menu i{
    padding: 10px;
    color: var(--colorGrisClaro);
}
.Header__img-banner{
    display: flex;
    align-items: flex-end;
    width: 100%;
}
/* TABLETS */
@media (min-width: 768px){
    .Header__div--container__querie{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .Header__div__searchbar__form{    
        width: 30%;
        margin-top: 40px;
        margin-left: 50px;
    }
    .Header__div__opcionesCompra{
        margin-top: 75px;
        width: 30%;
    }

    .Header__div__burger-menu{
        display:none;
    }
    .Header__ul--container{
        display: flex;
        justify-content: space-between;
    }
   .Header__ul--navbar{
        display: block;
        
      
    }
    .Header__ul--loginbar{
        display: block;
        
    }
 
}
/* DESKTOP */
@media (min-width: 1024px){
    .Header__div--container__querie{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .Header__div__searchbar__form{    
        width: 30%;
        margin-top: 40px;
        margin-left: 50px;
    }
    .Header__div__opcionesCompra{
        margin-top: 75px;
        width: 30%;
    }
    .Header__div__burger-menu{
        display:none;
    }
    .Header__ul--container{
        display: flex;
        justify-content: space-between;
    }
    .Header__ul--navbar li{
       display: inline-block;
       padding: 10px;
    }
    .Header__ul--loginbar li{
        display: inline-block;
        padding: 10px;
    }

}