.article__container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.Main__section__article{
    position: relative;
    z-index: auto;
    width: 100%;
    margin: 10px ;
    padding: 10px;
    background-color: var(--colorGrisClaro);
    border: 15px;
    width: 100%;
    
}
.Main__section__h1{
    margin: 10px;
    font-size: 24px;
    text-align: left;
}
.Main__section__article__img{
    width: 100%;
}
.Main__section__article__truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 290px;
    }
.main__section__article__div{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin:10px;
    
}
.Main__section__article__div__precios{
    width: 30%;
    margin:0 auto;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}
.Main__section__article__div__descuentos{
    width: 70%;
    margin:0 auto;
    font-size: 16px;
    text-align: left;
    color: var(--colorVerde);
}
.Main__section__article__descripcion{
    display: none;
    text-align: left;
    font-size: 16px; 
    font-weight: lighter; 
    margin: 10px;
}

.Main__section__article:hover h4{
    display: block;
}

.Main__section__article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}
.Main__section__article__truck:hover i{
    animation: rotate 2s ease
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-90deg);
    }
}

/* TABLETS */

    @media (min-width: 768px){
       
        .article_container{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        
        }
        .Main__section__article__truck {
            top: 320px;
        }
        .Main__section__article{
            width: calc(50% - 40px);
            margin: 0px 10px 10px;
            box-shadow: 0px 0px 10px rgb(100, 100, 100); 
        }
        .Main__section__article__div__descripcion{
            margin-left: 20px;
        }
    }


/* DESKTOP */

    @media (min-width: 1024px){
        .article_container{
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
        
        }
        .Main__section__article__truck {
            top: 220px;
        }
        .Main__section__article{
            width: calc(25% - 20px);
            margin: 0px 10px 10px;
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
        .Main__section__article__div__descripcion{
            margin-left: 20px;
        }
        .Main__section__article__div__descuentos{
           padding-left: 20px;
        }
    }