.main__section1{
    background-color: var(--colorGrisClaro);
    padding-bottom: 10px;

}
.main__section1 h1{
    border-bottom: solid 2px var(--colorCeleste);
    padding: 10px;
}
.main__section1 form{
    background-color: var(--colorGrisClaro);
    margin: 20px;
    padding: 10px;
}

.main__section__form--label1{
    display: block;
    /* flex-direction:column; */
    margin: 10px;
}
.main__section__form__div input{
    border-radius: 16px;


}
    

.main__section__form--label{
    padding: 10px;
    margin: 10px;
}
.main__section__form__input{
    border-radius: 5px;
    border: solid 1px var(--colorCeleste);
    padding: 10px;
}
.main__section__div{
    text-align: left;
    margin-left: 10px;
}
.main__section__div p{
    font-weight: bold;
    border-bottom: solid 1px var(--colorCeleste);
    padding-bottom: 5px;
}
.input__label{
    display: flex;
    align-self: center;
}
.main__section__div__article input{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    
}
.main__section__div__article label{
    display: inline-block;
    vertical-align: middle;
    margin: 30px 10px 10px;
    position: relative;
    bottom: 27px;
    left: 10px;
}
.main__section__div__input--usuario{
    width: 100%;
    border-radius: 5px;

}
.div__buttons1{
    background-color: var(--colorGrisClaro);
}
button{
    margin: 15px;
    padding: 15px 30px;
    border-radius: 15px;
    color: #fff;
    background-color: var(--colorCeleste);

}
/* TABLETS */
@media (min-width: 768px){
    .main__section__div p{
        text-align: center;
    }

}
/* DESKTOP */
@media (min-width: 1024px){
    .main__section__div p{
        text-align: center;
    }

}